<ol>
  <li>Create a view with the type "XML".</li>
  <li>Configure the query settings:
    <ul>
      <li><b>XML file:</b> a relative or absolute path to the XML file.</li>
      <li><b>Row XPath:</b> XPath for rows (from which come fields, filters, etc).</li>
    </ul>
  </li>
  <li>Add fields -- the XPath selector is relative to the row</li>
  <li>Add filters -- the XPath selector is relative to the row</li>
</ol>

There is also <a href="http://screencast.com/t/mnfEHRT7">a screencast</a> walking through a demonstration of XML Views.